<div class="panel panel-default ">
  <div class="panel-body ">
    <h2>Generate Token</h2>

    <div id="divToken"></div>

    <button id="btntoken" class="btn btn-primary">Generate Token</button>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#btntoken").click(function() {
      generatetoken();
    });
  });
  function generatetoken() {
    var email = "chto@outlook.com";
    var url = "/users/tokenlogin/"+email;
    $.post(url, function(data, status) {
      if (status == "success") {
        var txt = "";
        txt += "<span>" + data.token + "</span>";
        localStorage.setItem("token", "Bearer " + data.token);

        document.getElementById("divToken").innerHTML = txt;
      }

      if (status == "error") {
        alert("Error: " + status);
      }
    });
  }
</script>
