
  <div class="well well-lg"> 

<h2>Insert Clash Royale Data</h2>

    <form name="myForm" action="/c/clash/createmethod" method="post" onsubmit="return validateForm()">
      <div class="form-group">

        <label for="Trophies">Enter Trophies: </label>
        <input id="Trophies" type="Number" name="Trophies" value="Number of Trophies." class="form-control">
      </div>
      <div class="form-group">

        <label for="Victory">Enter Victory: </label>
        <input id="Victory" type="Number" name="Victory" class="form-control">
      </div>

      <div class="form-group">

        <label for="Defeat">Enter Defeat: </label>
        <input id="Defeat" type="Number" name="Defeat" class="form-control">
      </div>

      <button id="submitClashroyaleData" type="submit" class="btn btn-primary">Insert Data</button>

    </form>

  </div>