<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
  
      <li><a href="/cr"><span class=""></span> Cr</a></li>
      <li><a href="/webscraping"><span class=""></span> Ws</a></li>

    </ul>
   
  </div>
</nav>
