


        <% if(user != ''){ %>
  
        <!-- <li> <span style="color: white" class="glyphicon glyphicon-user"> <%= user.name %></span></li> -->
        <li> <a href="/profile" class="glyphicon glyphicon-log-user"><%= user.local.username %></a></li>
        <li> <a href="/logout" class="glyphicon glyphicon-log-out">Logout</a></li>
        <% } %>
        <% if(user == ''){ %>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% } %>
  
  

