



        <% if(user != ''){ %>
  
        <!-- <li> <span style="color: white" class="glyphicon glyphicon-user"> <%= user.name %></span></li> -->
        <li> <a href="/dashboard" class="glyphicon glyphicon-log-user"><%= user.name %></a></li>
        <li> <a href="/users/logout" class="glyphicon glyphicon-log-out">Logout</a></li>
        <% } %>
        <% if(user == ''){ %>
            <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% } %>
  
  

