
  <% if(typeof user != 'undefined' ){ %>
    <li>  <a href="/users/dashboard" style="color:white">Welcome <%= user.name %></a></li> 
        <li>   <a href="/users/logout" >Logout</a></li> 

        <% } %>
    <% if(typeof user == 'undefined' || typeof user == '' || typeof user == null ){ %>
   
        <li>    <a href="/users/login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 

        <% } %>

