      
    <div class="container">  
        <div class="row">  
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">  
                <div class="jumbotron">  
                    <form action="/signup" method="POST" role="form">  
                        <legend>Signup</legend>  
                        <div class="form-group">  
                            <label for="email">Email</label>  
                            <input type="text" class="form-control" name="email" placeholder="Enter name">  
                        </div>  
                        <div class="form-group">  
                            <label for="pass">Password</label>  
                            <input type="password" class="form-control" name="password" placeholder="Enter name">  
                        </div>  
                        <button type="submit" class="btn btn-primary">Submit</button>  
                        <a href="/"><button type="button" class="btn btn-primary">Back</button></a>  
                        <% if( message.length > 0 ){ %>  
                            <br />  
                            <br />  
                            <div class="alert alert-info">  
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>  
                                <strong><%= message %></strong>  
                                <br> Please click on x button to close that bar  
                            </div>                  
                            <% } %>  
                    </form>  
                </div>  
            </div>  
        </div>  
    </div>  
      

