

<h1>File Upload </h1>

<form id="formupload" action="/indexRouters/fileupload" enctype="multipart/form-data" method="POST">
  <input type="file" name="fieldUpdate" id="fieldUpdate" required />
  <input id="btnsubmit" type="submit" value="Upload" />
</form>

