 

<!DOCTYPE html>
<html>
<head>
    <% include ./partials/layout/header.ejs %>
  
  <title><%- title %></title>

</head>

<body>

  <% include ./partials/layout/nav.ejs %>
  
  <% include ./partials/layout/messages.ejs %>

  <div class="container-fluid"><%- body %></div>

<% include ./partials/layout/footer.ejs %>

<p></p>
</body>


</html>

  
