
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >
            <a href="/app/clashroyale/cr"><span class=""></span> Clash Royale</a>
            <a href="javascript:void(0)" id="resetlayout" onclick="resetlayout()"
              ><span class=""></span> Reset layout</a
            >
          </div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a href="/" class="glyphicon glyphicon-home navbar-brand"> Home</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                  <a href="javascript:void(0)">
                    <span style="cursor:pointer" onclick="openNav()"> Clash Royale</span>
                  </a>
                </li>
                <li>
                  <a href="/app/weather/wspage"><span class=""></span> Weather</a>
                </li>
          
                <li class="dropdown">
                  <a class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Apps
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1"  href="/indexRouters/chatbot">chatbot</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/osInterface">OS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"  href="/indexRouters/uploadfiles">File Upload</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"  href="/indexRouters/appversion">App version</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                    <a class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">APIs
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="/currencyExchange/Convert">Currency Exchange</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="/currencyExchange/Convert/?from=USD&to=BRL">USD to BRL</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="/api/v1/dhtsensorhouse">Arduino temp sensor</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="/api/v1/os/all">OS</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="/indexRouters/listoffiles">File Upload</a></li>
                  </ul>
                  </li>
          
                <% if(typeof user != 'undefined'){ %> <% if( user.manager){ %>
                <li>
                  <a class="nav-link" href="/users/ManageUsers">ManageUsers</a>
                </li>
          
                <% } %> <% } %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% include ../login/partial_login.ejs %>
              </ul>
      
      </div>
    </div>
  </nav>
  
<% include ../login/login.ejs %> <% include ../login/signup.ejs %>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  function myFunction(x) {
    x.classList.toggle("change");
  }
</script>

<style>
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
</style>

   
        