<div class="container">    
    <div class="row">    
        <div class="col-md-12 col-sm-12">    
            <h2>Profile Page</h2>    
        </div>    
        <div class="col-md-6 col-sm-6">    
            <div class="well">    
                <h3><span class="fa fa-user"></span> Local</h3>    
                <h5>Username = <%= user.local.username %></h5>                
                <h5>Password = <%= user.local.password %></h5>                
                <h5>UserId = <%= user._id %></h5>                
                <a type="button" href="/logout" class="btn btn-danger">Logout</a>    
            </div>    
        </div>    
    </div>    
</div>    
