<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

  <script>
 
    $(document).ready(function () {
   
      document.getElementById("btnLoadCrApiData").addEventListener("click", showMessage);
      function showMessage() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        var messagetshow = "Loaded Successfully!"

        document.getElementById("snackbar").innerHTML = messagetshow;
      }


    });


  </script>

</head>

<body>

  <% include ../partials/nav.ejs %>
  <div id="demo">
  </div>

  <div class="container">


    <%if(typeof message == "undefined"){%>
      <% } else { %>
      <%= message %>
      <%}%>

      <%if(typeof error == "undefined"){%>
        <% } else { %>
        <%= error.message %>
        <%}%>
    
    <% include ../partials/insertCr.ejs %>

    <% include ../partials/CrMbattle.ejs %>
    <% include ../partials/CrStatus.ejs %>

    <!-- end container -->
  </div>


</body>

</html>