<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

  <script>

    $(document).ready(function () {

      document.getElementById("btnLoadCrApiData").addEventListener("click", showMessage);
      function showMessage() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        var messagetshow = "Loaded Successfully!"

        document.getElementById("snackbar").innerHTML = messagetshow;
      }


    });


  </script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #sortable {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
    }

    #sortable li {
      margin: 0 3px 3px 3px;
      padding: 0.4em;
      padding-left: 1.5em;
      font-size: 1.4em;
      height: 18px;
    }

    #sortable li span {
      position: absolute;
      margin-left: -1.3em;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      // $("#draggable").sortable();
      $(".draggable").disableSelection();
      $(".draggable").resizable();
      $(".draggable").draggable();
    });
  </script>

</head>

<body>

  <% include ../partials/nav.ejs %>
  <div id="demo">
  </div>

  <div class="container">


    <%if(typeof message == "undefined"){%>
    <% } else { %>
    <%= message %>
    <%}%>

    <%if(typeof error == "undefined"){%>
    <% } else { %>
    <%= error.message %>
    <%}%>
    <!-- <div id="draggable" class="ui-widget-content ui-widget-content">
      <div>
        <% include ../partials/insertCr.ejs %>
      </div>
      <div>
        <% include ../partials/CrMbattle.ejs %>
      </div>
      <% include ../partials/CrStatus.ejs %>

    </div> -->
    <div id="draggable">
      <div class="draggable ui-widget-content ui-widget-content">
        <% include ../partials/insertCr.ejs %>
      </div>
    </div>

    <div id="draggable">
      <div class="draggable ui-widget-content ui-widget-content">
        <% include ../partials/CrMbattle.ejs %>
      </div>
    </div>
    <div id="draggable">
      <div class="draggable ui-widget-content ui-widget-content">
        <% include ../partials/CrStatus.ejs %>
      </div>
    </div>


    <!-- <% include ../partials/insertCr.ejs %>
    <% include ../partials/CrMbattle.ejs %>
    <% include ../partials/CrStatus.ejs %> -->

    <!-- end container -->
  </div>


</body>

</html>