<title><%- title  =  'App version Management' %></title>

  <div id="successMessage" style="display:none;">
  </div>

  <% include ../partials/app_version_forms/edit_form.ejs %>
  <% include ../partials/app_version_forms/insert_form.ejs %>