<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

  <script>

    function validateForm() {
      var x = document.forms["myForm"]["Trophies"].value;
      var xVictory = document.forms["myForm"]["Victory"].value;
      if (x == "" && xVictory == "") {
        alert("Fields are empty! ");
        return false;
      }
    }

    function loadClashRoyaleBattleData() {
        $("#divCrBattledata").load("/c/clashs", function (responseTxt, statusTxt, xhr) {
          if (statusTxt == "success")
            if (statusTxt == "error")
              alert("Error: " + xhr.status + ": " + xhr.statusText);
        });
      }
      function loadClashRoyaleStatus() {
        $("#divSatus").load("/clashroyaleapi", function (responseTxt, statusTxt, xhr) {
          if (statusTxt == "success")
            if (statusTxt == "error")
              alert("Error: " + xhr.status + ": " + xhr.statusText);
        });
      }

    $(document).ready(function () {

      loadClashRoyaleStatus();

      $("#btnLoadCrStatus").click(function () {
        loadClashRoyaleStatus();
      });
  
      $("#btnCrBattledata").click(function () {
        loadClashRoyaleBattleData();
      });
   
      document.getElementById("btnLoadCrApiData").addEventListener("click", showMessage);

      function showMessage() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        var messagetshow = "Loaded Successfully!"

        document.getElementById("snackbar").innerHTML = messagetshow;
      }


    });


  </script>

</head>

<body>

  <% include ../partials/nav.ejs %>
  <div id="demo">
  </div>

  <div class="container">
<!-- 
    <%if(typeof error == "undefined"){%>
    <% } else { %>
    <%= error.message %>
    <%}%> -->

    <% include ../partials/insertCr.ejs %>

    <% include ../partials/CrMbattle.ejs %>
    <% include ../partials/CrStatus.ejs %>

    <!-- end container -->
  </div>


</body>

</html>