<script>
  var API_DEFAULT_PATH = "/users/";

  $(document).ready(function() {

    LoadDataForEditingDelete();
    
    $("#btnLoadRefreshData").click(function() {
      LoadDataForEditingDelete();
    });
  });
  
  function LoadDataForEditingDelete() {
      $.get("/users/listAllUsers", function(data, status) {
        if (status == "success") {
          var txt = "";
          txt +=
            " <form id='formEdit' class='formEdit'  name='formEdit' action='' method='PUT' >";
          txt += "<div class='table-responsive'>";
          txt += "<table class='table table-hover '>";
          txt += "<thead>";
          txt += "<tr>";
          txt += "<th>Name</th>";
          txt += "<th>Email</th>";
          txt += "<th>manager</th>";
          txt += "<th>permission</th>";
          txt += "<th>token</th>";
          txt += "<th>Password</th>";
          txt += "<th>date_created</th>";
          txt += "<th>Actions</th>";
          txt += "</thead>";
          txt += "</thead>";
          txt += "<tbody>";
          for (var i = 0; i < data.length; i++) {
            txt += "<tr>";
            var id2pass = "btnupdate_" + data[i]._id;
            var msgDelete = "Delete this data?";
            var date = data[i].date_created;

            txt +=
              "<td> <input type='text' class='form-control' id='name" +
              data[i]._id +
              "' value='" +
              data[i].name +
              "'> </td>";
            txt +=
              "<td> <input type='text' class='form-control' id='email" +
              data[i]._id +
              "' value='" +
              data[i].email +
              "'> </td>";

              txt +=
              "<td> <input type='text' class='form-control' id='permission" +
              data[i]._id +
              "' value='" +
              data[i].permission +
              "'> </td>";

              txt +=
              "<td> <input type='text' class='form-control' id='manager" +
              data[i]._id +
              "' value='" +
              data[i].manager +
              "'> </td>";
              
              txt +=
              "<td> <input type='text' class='form-control' id='token" +
              data[i]._id +
              "' value='" +
              data[i].token +
              "'> </td>";

            txt +=
              "<td> <input type='text' class='form-control' id='password" +
              data[i]._id +
              "' value='" +
              data[i].password +
              "'> </td>";
            txt += "<td>" + date + "</td>";
            txt +=
              "<td><button id='btnupdate_" +
              data[i]._id +
              "' type='submit' onclick='updateCheck(event, this);'  value='" +
              data[i]._id +
              "' data-id='" +
              data[i]._id +
              "' class='btn btn-primary '  '>Save</button></td>";
            txt +=
              "<td><button id='btnDelete_" +
              data[i]._id +
              "' type='submit' onclick='deleteConfirmation(event, this);'  value='" +
              data[i]._id +
              "' data-id='" +
              data[i]._id +
              "' class='btn btn-danger'  '>Delete</button></td>";
            txt += "</tr>";
          }
          txt += "</tbody>";
          txt += "</table>";
          txt += "</div>";
          txt += "</form>";
          document.getElementById("divEditData").innerHTML = txt;
        }

        if (status == "error") {
          var msg = status;
          var msg_type = "error";
          ShowMessage(msg, msg_type);
        }
      });
    }

  function deleteConfirmation(event, e) {
    if (confirm("Data Will be delete!")) {
      deleteCheck(event, e);
    } else {
      event.preventDefault();
    }
  }

  function ShowMessage(msg, msg_type) {
    var element = $("#successMessage");

    $(window).scrollTop(0);
    element.show();
    element.text(msg);
    if (msg_type == "success") {
      element.addClass("alert success");
    } else if (msg_type == "warning") {
      element.addClass("alert warning");
    } else if (msg_type == "error") {
      element.addClass("alert");
    } else if (msg_type == "info") {
      element.addClass("alert info");
    } else if (msg_type == "default") {
      element.addClass("default ");
    }
    HideMessage();
  }

  function HideMessage() {
    var element = $("#successMessage");
    element.fadeIn("slow");

    setTimeout(function() {
      element.fadeOut("slow", function() {});
    }, 3000);
  }

  function updateCheck(event, e) {
    var tok = window.localStorage.getItem("token");
    var data_id = e.value;
    $("#formEdit").attr("action", API_DEFAULT_PATH + data_id);
    var user_obj_updated = new Object();
    user_obj_updated._id = data_id;
    user_obj_updated.name = document.getElementById("name" + data_id).value;
    user_obj_updated.email = document.getElementById("email" + data_id).value;
    user_obj_updated.permission = document.getElementById("permission" + data_id).value;
    user_obj_updated.manager = document.getElementById("manager" + data_id).value;
    user_obj_updated.password = document.getElementById(
      "password" + data_id
    ).value;
    $.ajax({
      headers: { Authorization: tok },
      type: "PUT",
      url: API_DEFAULT_PATH + data_id,
      data: user_obj_updated,
      success: function(data) {
        $("#btnLoadRefreshData").click()
      },
      error: function(request, status, error) {
        var msg = request.responseText;
        var msg_type = "error";
        ShowMessage(msg, msg_type);
      }
    });

    event.preventDefault();
  }

  function deleteCheck(event, e) {
    var tok = window.localStorage.getItem("token");
    var data_id = e.value;
    $("#formEdit").attr("action", API_DEFAULT_PATH + data_id);
    $.ajax({
      headers: { Authorization: tok },
      type: "DELETE",
      url: API_DEFAULT_PATH + data_id,
      success: function() {
        var msg = "Data Deleted";
        var msg_type = "success";
        ShowMessage(msg, msg_type);
        $("#btnLoadRefreshData").click();
      },
      error: function(request, status, error) {
        var msg = request.responseText;
        var msg_type = "error";
        ShowMessage(msg, msg_type);
      }
    });

    event.preventDefault();
  }
</script>
<title><%- title  =  'Manage Users' %></title>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>Manage Users</h2>
    <div id="divEditData"></div>

    <button id="btnLoadRefreshData" class="btn btn-primary">Load Data</button>
  </div>
</div>
