<title><%- title  =  'Weather Forecast' %></title>

  <script>
    $(document).ready(function () {
      LoadwebscrapingItacoatiaraseatemp()
      LoadwebscrapingItacoatiara48forecast();

      function GetIdSetData(elementID, data) {
        document.getElementById(elementID).innerHTML = data;
      }

      function LoadwebscrapingItacoatiara48forecast() {
        $.get("/api/v1/weather/Itacoatiara48forecast", function (data, status) {
          if (status == "success") {
            for (let index = 0; index < data.length; index++) {
              const element = data[index];
              GetIdSetData('day', element.days)
              GetIdSetData('weather', element.uniqueweather)

              var txt = '';
              txt += "<div class='table-responsive'>"
              txt += "<table class='table table-hover '>"
              txt += "<thead>"
              txt += "<tr>"
              txt += "<th>Time</th>"
              txt += "<th>Wave</th>"
              txt += "</thead>"
              txt += "</thead>"
              txt += "<tbody>"
              element.wavesTimes.forEach(elementtimewave => {
                txt += "<tr>"
                  txt += "<td>" + elementtimewave.time + "</td>";

                var regexAM = /[^\d.-]/g;
                var weveNumberOnly = elementtimewave.wavesize.replace(regexAM, '')
                if (weveNumberOnly > 1.2) {
                  txt += "<td style=color:red >" + elementtimewave.wavesize + "</td>";
                }
                else {
                  txt += "<td  >" + elementtimewave.wavesize + "</td>";
                }
                txt += "</tr>"

              });

              txt += "</tbody>"
              txt += "</table>"
              txt += "</div>"
              document.getElementById("divTimeWave").innerHTML = txt;
              var timevar = '', waveVar = '';
              element.wavesTimes.forEach(elementtimewave => {
                timevar += elementtimewave.time + ', ';
                waveVar += elementtimewave.wavesize + ', ';

                document.getElementById('time').innerHTML = timevar;
                document.getElementById('wavesize').innerHTML = waveVar;

              });
            }


          }

          if (status == "error")
            alert("Error: " + status);
        });

      }


      $("#btnLoadData").click(function () {
        LoadwebscrapingItacoatiara48forecast();
        LoadwebscrapingItacoatiaraseatemp()
      });

      function LoadwebscrapingItacoatiaraseatemp() {
        $.get("/api/v1/weather/Itacoatiaraseatemp", function (data, status) {
          if (status == "success") {
            for (let index = 0; index < data.length; index++) {
              const element = data[index];
              GetIdSetData('temp', element.temp)
            }

            if (status == "error")
              alert("Error: " + status);

          }
        });
      }


    });
    function opensurfforecast() {
      window.open("http://pt.surf-forecast.com/breaks/Itacoatiara/forecasts/latest");
    }

  </script>

  <div id="demo"> </div>

  <div class="container">

    <div class="well well-lg">
      <h2>Itacoatiara </h2>
      <h6>Itacoatiara latest forecasts </h6>
      <button id="btnLoadData" class="btn btn-primary">Load/Refresh Data</button>

      <form action="">
        <a href="#" onclick="opensurfforecast()"> <span class="badge">Go to Site</span></a><br>
      </form>

      <div id="div2"></div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>day</td>
            <td><span id="day"></span></td>
          </tr>
          <tr>
            <td>temp</td>
            <td><span id="temp"></span></td>
          </tr>
          <tr>
            <td>Weather</td>
            <td><span id="weather"></span></td>
          </tr>
          <tr>
            <td>Time</td>
            <td><span id="time"></span></td>
          </tr>
          <tr>
            <td>wavesSizeDetailed</td>
            <td> <span id="wavesize"></span></td>
          </tr>
        </tbody>
      </table>

      <div id="divTimeWave"></div>

    </div>


    <!-- end container -->
  </div>
